.DarkModeSideBar{
    background-color: #28273f;
    color: #d3dadd;
}
.DarkMode{
    background-color: #191928;
    color: white;
}
.LightModeSideBar {
    background-color: white;
    color: black;
}
.LightMode{
    background-color: #f4f7fe;
    color: black;
}